.navigation ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline-block;
  margin-left: 16px;
}

.navigation li:first-child {
  margin-left: 0;
}

.navigation li:last-child {
  margin-right: 50px;
}

.navigation a {
  color: var(--dark-text);
  text-decoration: none;
}