:root {
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  --header-height: 64px;
  --dark-text: #05132a;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  color: #05132a;
  background-color: #e6e7ea;
}

